Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/CodeChunks.db
Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/SemanticSymbols.db
Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
Source/.vs/TheEndTimes/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
Source/.vs/TheEndTimes/FileContentIndex/e088e2b4-0664-44ea-b852-dc42e547174f.vsidx
